src/conf/xml-resources/web-service-references/ConsultaWS/wsdl/localhost_8080/TareaTDSEX/ConsultaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="ConsultaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/TareaTDSEX/ConsultaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="consultarCliente">
<part name="parameters" element="tns:consultarCliente"/>
</message>
<message name="consultarClienteResponse">
<part name="parameters" element="tns:consultarClienteResponse"/>
</message>
<message name="listarProducto">
<part name="parameters" element="tns:listarProducto"/>
</message>
<message name="listarProductoResponse">
<part name="parameters" element="tns:listarProductoResponse"/>
</message>
<message name="listarCliente">
<part name="parameters" element="tns:listarCliente"/>
</message>
<message name="listarClienteResponse">
<part name="parameters" element="tns:listarClienteResponse"/>
</message>
<portType name="ConsultaWS">
<operation name="consultarCliente">
<input wsam:Action="http://ws/ConsultaWS/consultarClienteRequest" message="tns:consultarCliente"/>
<output wsam:Action="http://ws/ConsultaWS/consultarClienteResponse" message="tns:consultarClienteResponse"/>
</operation>
<operation name="listarProducto">
<input wsam:Action="http://ws/ConsultaWS/listarProductoRequest" message="tns:listarProducto"/>
<output wsam:Action="http://ws/ConsultaWS/listarProductoResponse" message="tns:listarProductoResponse"/>
</operation>
<operation name="listarCliente">
<input wsam:Action="http://ws/ConsultaWS/listarClienteRequest" message="tns:listarCliente"/>
<output wsam:Action="http://ws/ConsultaWS/listarClienteResponse" message="tns:listarClienteResponse"/>
</operation>
</portType>
<binding name="ConsultaWSPortBinding" type="tns:ConsultaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="consultarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ConsultaWS">
<port name="ConsultaWSPort" binding="tns:ConsultaWSPortBinding">
<soap:address location="http://localhost:8080/TareaTDSEX/ConsultaWS"/>
</port>
</service>
</definitions>